.footer-container {
  display: flex;
  max-width: 1260px;
  padding-top: 52px;
  padding-inline: 23px;
  margin: auto;
  margin-bottom: 110px;
  flex-direction: column;
  border-top: 3px solid #f4f4f4;
  .logo {
    width: 49px;
    height: auto;
    max-height: 20px;
  }
  .details{
    color: #7D7D7D;
    font-size: 14px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap:5px;
    a{
      color: #1175B5;
      cursor: pointer;
    }
  }
}
