.menu-bottom-container {
  display: flex;
  max-width: 1260px;
  padding-top: 87px;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 136px;
  border-top: 3px solid #f4f4f4;
  .logo {
    width: 49px;
    height: auto;
  }
  .nav-links {
    display: flex;
    gap: 52px;
    margin: unset;
    .nav-link {
      font-weight: 400;
      font-size: 18px;
      list-style: none;
      cursor: pointer;
    }
    .link {
      color: #000000;
      text-decoration: none;
    }
  }
  .external-links {
    display: flex;
    gap: 30px;
    .link-img {
      height: 24px;
      width: auto;
    }
  }
}
