.menu-top-container {
  display: flex;
  max-width: 1260px;
  padding-top: 87px;
  justify-content: space-between;
  text-align: right;
  z-index: 1000;
  width: 100%;
  position: fixed;
  top: 0;
  height: 65px;
  background: white;
  left: 50%;
  transform: translateX(-50%);
  .logo {
    width: 49px;
    height: auto;
  }
  .nav-links {
    display: flex;
    gap: 52px;
    margin: unset;
    .nav-link {
      font-weight: 400;
      font-size: 18px;
      list-style: none;
      cursor: pointer;
    }
    .link {
      color: #000000;
      text-decoration: none;
    }
  }
  .external-links {
    display: flex;
    gap: 30px;
    .link-img {
      height: 24px;
      width: auto;
    }
  }
}
